* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


*::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* book submission page */

.section-1 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #e9e9e9;
}


.section-1 form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    height: auto;
    border: 1px solid #8b8b8b;
    border-radius: 8px;
    padding: 25px;
    position: relative;
    top: 35px;
    background-color: #fff;
}

.feild-set {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-weight: 600;
    gap: 2px;
    width: 100%;
}

.feild-set input, select {
    padding: 5px;
    border-radius: 8px;
    outline: none;
    border: 1px solid #8b8b8b;
    width: 67%;
}

.btn-action {
    width: 65%;
    height: 50px;
    border: none;
    background-color: #3b89eb;
    color: #fff;
    font-weight: 600;
    border-radius: 8px;
}

.btn-action:hover {
    cursor: pointer;
}




/* books page (dashboard) */

.books-section-1 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: absolute;
    flex-direction: column;
}



.books-box {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}


#books-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.hold-button {
    justify-content: flex-end !important;
    padding-right: 20px;
}

.hold-button a {
    width: 120px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #f7f2f2;
    border: none;
    background-color: #3b89eb;
    color: #fff;
    font-weight: 600;
    border-radius: 8px;
}

.hold-button button:hover {
    cursor: pointer;
}

.remove-link-color {
    color: #111;
}





/* js classes */

.box-design {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: row;
    gap: 13px;
    border: 1px solid #8b8b8b;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 500px;
    box-shadow: -1px -1px 12px 4px rgba(0,0,0,0.18);
    -webkit-box-shadow: -1px -1px 12px 4px rgba(0,0,0,0.18);
    -moz-box-shadow: -1px -1px 12px 4px rgba(0,0,0,0.18);
    border-radius: 8px;
}

.innersection_one {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 50%;
}


.innersection_two {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    padding: 20px;
    width: 50%;
}

.book-image {
    width: 150px;
    height: 200px;
}

.image-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.report-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: row;
    gap: 13px;
    border: 1px solid #8b8b8b;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 500px;
    box-shadow: -1px -1px 12px 4px rgba(0,0,0,0.18);
    -webkit-box-shadow: -1px -1px 12px 4px rgba(0,0,0,0.18);
    -moz-box-shadow: -1px -1px 12px 4px rgba(0,0,0,0.18);
    border-radius: 8px;
}


.hidden {
    display: none;
}

.visible {
    display: block;
}

/* index html page navigation */

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #181818;
    position: fixed;
    z-index: 1000;        
    padding-left: 20px;
    padding-right: 20px;   
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

nav .logo {
    font-size: 20px;
    color: #fff;
    font-weight: bolder;
}

.section-index {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.welcome-box {
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    background-color: #181818;
    color: #fff;
}

.content-box-index {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 80%;
    height: 100px;
}

.contact-box-index{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2px;
    width: 80%;
    height: 120px;
    border: 1px solid #8b8b8b;
    border-radius: 8px;  
    box-shadow: -2px -2px 17px -5px rgba(0,0,0,0.52);
    -webkit-box-shadow: -2px -2px 17px -5px rgba(0,0,0,0.52);
    -moz-box-shadow: -2px -2px 17px -5px rgba(0,0,0,0.52);
}

.content-box-index a {
   width: 250px;
   height: auto;
   padding: 10px;
   text-align: center;
   margin: 20px;
   color: #fff;
   background-color: #181818;
   border-radius: 8px;
   padding: 20px;
}


/* reports page */

.reports-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}



/* admin page sign in / up */

.hold-main {
   width: 100%;
   height: auto;
}

.hold-hidden {
   width: 100%;
   height: auto;
}

.button-general {
    width: 120px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border: none;
    color: #111;
    font-weight: 600;
    border-radius: 8px;
    background: none;
}

.button-general:hover {
    cursor: pointer;
}






/* responsive web design */ 

@media only screen and (max-width: 500px) {
    .box-design {
        flex-direction: column;
    }
    
    .innersection_two h2, p, i, span{
        font-size: 16px;
    }
}


@media only screen and (max-width: 600px) {
    .box-design {
        flex-direction: column;
    }
    
    .innersection_two h2, p, i, span {
        font-size: 16px;
    }
}

